.card {
  background: linear-gradient(#ffc1ca, #ca94e9);
}
.card-title {
  color: #380052;
}
.text-muted {
  color: none;
}
.card-subtitle {
  color: #66566e;
}
.card-text {
  color: #66566e;
}
.list-group {
  opacity: 0.5;
}
li {
  transition: all 200ms ease;
}
li:hover {
  opacity: 0.8;
}
ul {
  list-style-type: none;
  padding: 10px;
}
.col-3 {
  box-shadow: 5px #cecbd5;
}
.btn {
  box-shadow: 5px #cecbd5;
}
